
 .form{
    width: 50%;
    margin-left: 3rem;
    text-align: left;
    border-radius: 15px;
    
    
      }

.modal-displayed{
 display: block;

}

.modal-hidden{
    display: none;
}

label[for=user-name]{
    margin-right:1.563rem

}

.services{
    margin-top: 3rem;
}
.name,
.services .website-box,
.services .seo-box{
    margin-bottom: 0.75rem;
}

.button-budget{
    
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-budget:hover,
.button-budget:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color:  rgb(245, 201, 7);
}

.button-budget:hover {
  transform: translateY(-1px);
}

.button-budget:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
